@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  @apply text-[34px] font-bold text-black
}

.section-description {
  @apply text-[17px] text-descriptionColor leading-[160%]
}

.btn {
  @apply py-[11px] px-[35px] rounded-[80px]
}

.header-logo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../src/icons/square.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.nav__menu {
  @apply w-[70%] top-[100%] bg-white p-10 flex-col rounded-xl
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s ease;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s ease;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#home {
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 85%, 79% 92%, 51% 97%, 24% 92%, 0 84%, 0% 35%, 0 0);
}

.home__line {
  background-image: url("../../src/images/line.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home__image {
  max-width: 500px;
  width: 100%;
  height: 800px;
  background-image: url("../../src/images/woman.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 700px;
}

.elearn__image {
  background-image: url("../../src/images/square-blue.png"), url("../../src/images/square-red.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

@media screen and (max-width: 976px) {
  .section-title {
    @apply text-[30px]
  }

  .section-description {
    @apply text-[15px]
  }

  #home {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .home__image {
    background-position: center 0;
  }

  .elearn__image {
    background-size: 100px, 150px;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    @apply text-[28px]
  }

  .section-description {
    @apply text-[12px]
  }

  .home__line {
    background-size: contain;
  }
}

@media screen and (max-width: 480px) {
  .home__image {
    background-size: 500px;
    height: 600px;
  }
}